*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

a{
    color: blue;
    text-decoration: none;
}

h1{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

li{
    list-style-type: none;
}

.container{
    margin: 0;
    max-width: 1200px;
    overflow: visible;
}

.navbar{
    background-color: aquamarine;
    height: 70px;
    padding: 0 30px;
}

.navbar h1{
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

.navbar .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: white;
    padding: 9px;
    margin: 0 10px;
}

.navbar a:hover{
    color: #9867C5;
    border-bottom: 3px solid #9867C5;
}