*{
    box-sizing: border-box;
}
/*resets*/
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}

/*base styles*/
body{
    overflow-x: none;
    font-family: "Varela", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button{
    background: none;
    border: 2px solid #0077b6;
    color: #9867C5;
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    display: inline-block;
    font-size: 1em; 
}

a{
    color: blue;
    text-decoration: none;
}

h1{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

.container{
    margin: 0;
    max-width: 1200px;
    overflow: visible;
}

.navbar{
    background-color: aquamarine;
    height: 70px;
    padding: 0 30px;
}

.navbar h1{
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

.navbar .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: white;
    padding: 9px;
    margin: 0 10px;
}

.navbar a:hover{
    color: #9867C5;
    border-bottom: 3px solid #9867C5;
}

input:focus + label{
    transform: translateY(-20px);
    color: #0077b6;
}

input:focus{
    outline-color: #0077b6;
}

/* Mobile Styles */
@media screen and (min-width){

}
/* Small tablets Styles*/
@media screen and (min-width:620px){

}
/* Large Tablets & Laptops Styles */
@media screen and (min-width: 920px){
    body{
        font-size: 18px;
    }
}
/* Desktop Styles*/
@media screen and (min-width: 1200px){
    
}